
.header
	display: flex
	align-items: center
	justify-content: space-between

	.header_logo
		display: flex
		font-size: 40px

		div
			&:first-child
				color: #5784BA
			&:nth-child(2)
				color: #9AC8EB
			&:nth-child(3)
				color: #F4CFDF
			&:nth-child(4)
				color: #B6D8F2
			&:last-child
				color: #F4CFDF

	.header_menu
		display: flex
		font-size: 16px
		line-height: 24px

		.header_menu_item
			margin-right: 16px
			border-bottom: 2px solid

			&:last-child
				margin-right: 0
